<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head th:include="usuario/template.html::header"></head>

<body> 

    <div th:include="usuario/template.html::nav_t"></div>
    <nav th:include="usuario/template.html::nav" ></nav>


    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3"><small>Detalles</small></h1>

      <!-- Blog Post -->
      <div class="card mb-4 fonts">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-12">
            <table class="table tableo tableD">
              <thead>
                <tr>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Producto</th>                  
                  <th scope="col">Precio</th>
                  <th scope="col">Total</th>                  
                </tr>
              </thead>
              <tbody>
                <tr th:each="detalle:${detalles}">
                  <td  th:text="${detalle.cantidad}"></td>
                  <td th:text="${detalle.nombre}"></td>
                  <td th:text="${detalle.precio}"></td>
                  <td th:text="${detalle.total}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  <div class="error"></div>
   <!-- Footer -->
<div th:include="usuario/template.html::footer"></div>
<div th:include="usuario/template.html::script"></div>

</body>

</html>
