<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head th:include="usuario/template.html::header"></head>

<body>

    <div th:include="usuario/template.html::nav_t"></div>

    <div class="home-section">

        <nav th:include="usuario/template.html::nav"></nav>

        <section class="home">
            <div class="content">
                <h3>Ecommerce</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quas deleniti eum nemo dolorem eaque, 
                    non dolore ex maiores quasi, sit iste obcaecati voluptatum porro in harum omnis qui labore.
                </p>
                <button id="shopnow" > <a th:href="@{/producto}">Comprar</a></button>
            </div>
            <div class="img">
                <img src="/images/imagenInicio.jpg" alt="">
            </div>
        </section>

    </div>

    <div class="product-container">
        <h1 class="text-center">PRODUCTOS DESTACADOS</h1>
        <br>
        <div class="product-grid">
            <div class="product-item" th:each="producto : ${productos}" th:if="${producto.categoria == 'inicio'}">
                <div class="card">
                    <img class="product-image" th:src="@{/images/{img} (img=${producto.imagen})}" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${producto.nombre}"></h5>
                        <p th:text="${producto.descripcion}"></p>
                        <p><strong th:text="'$' + ${producto.precio}"></strong></p>
                        <button type="submit" th:style="${producto.cantidad == 0} ? 'display:none' : ''">
                            <a class="product-link" th:href="@{/vistaproducto/{id} (id=${producto.id})}" th:style="${producto.cantidad == 0} ? 'display:none' : ''">Ver Producto</a>
                        </button>
                        <button type="button" th:unless="${producto.cantidad > 0}" disabled >
                            No disponible
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="banner">
        <div class="content">
            <h1>Mira todos nuestros productos</h1>
            <p></p>
            <div id="bannerbtn"><button>Comprar ahora</button></div>
        </div>
    </div>

    <!-- productos-->

    <div class="container" id="product-cards">
        <h1 class="text-center">PRODUCTOS</h1>
    
        <div class="productos-container">
            <div class="producto" th:each="producto, iterStat : ${productos}" th:if="${iterStat.index < 8}">
                <div class="card h-100">
                    <img class="card-img-top" th:src="@{/images/{img} (img=${producto.imagen})}" alt="">
                    <h3 th:text="${producto.nombre}"></h3>
                    <button class="btp" th:style="${producto.cantidad == 0} ? 'display:none' : ''">
                        <a th:href="@{/vistaproducto/{id} (id=${producto.id})}" >Ver Producto</a>
                    </button>
                    <button type="button" th:unless="${producto.cantidad > 0}" disabled class="btp">
                        No disponible
                    </button>
                </div>
            </div>
        </div>
    
        <a th:href="@{/producto}" id="viewmorebtn">Ver más</a>
    </div>
    
    
    <div th:include="usuario/template.html::politica"></div>

    <!-- Footer -->

    <div th:include="usuario/template.html::footer"></div>

    <div th:include="usuario/template.html::script"></div>

</body>

</html>