<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head th:include="usuario/template.html::header"></head>

<body>

    <div th:include="usuario/template.html::nav_t"></div>

        <!-- Navbar-->
         <nav th:include="usuario/template.html::nav"></nav>

        <!-- Logig-->
        <div class="container login">
            <div class="row">
                <div class="col-md-4" id="side1">
                    <h3>Bienvenido Otra vez</h3>
                    <p>¿Todavia no tienes una cuenta?</p>
                    <div id="btn"><a th:href="@{/usuario/registro}">Crear</a></div>
                </div>
                <div class="col-md-8" id="side2">
                    <h3>Ingresar</h3>

                    <div class="inp"> 
                        <form th:action="@{/usuario/acceder}" method="post">
                            <input type="email" placeholder="Email" id="email" name="email" required>
                            <input type="password" placeholder="Contraseña"   id="password" name="password" required>
                            <div id="login">
                                <button type="submit">Ingresar</button>
                            </div>
                        </form>
                    </div>
                    <!--
                    <p>¿Olvidaste tu contraseña?</p>
                    -->
                    
                    
                </div>
            </div>
        </div>

        <!-- Footer -->

    <div th:include="usuario/template.html::footer"></div>

    <div th:include="usuario/template.html::script"></div>

</body>

</html>