<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head th:include="usuario/template.html::header">
	<script>
        function verificarCantidad(maxCantidad) {
            const cantidadInput = document.getElementById('cantidad');
            const cantidad = parseInt(cantidadInput.value);
            if (cantidad > maxCantidad) {
                alert('La cantidad seleccionada supera la cantidad disponible.');
                cantidadInput.value = maxCantidad;
                return false;
            }
            return true;
        }
    </script>
</head>

<body>  

    <div th:include="usuario/template.html::nav_t"></div>     
        <!-- Navbar-->
        <nav th:include="usuario/template.html::nav"></nav>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->

		<!-- Blog Post -->
		<div class="card mb-4 contentt">
			<div class="card-body font">
				<div class="row">
					<div class="col-lg-6">
						<a href="#">
							<img class="img-fluid rounded" th:src="@{/images/{img} (img=${producto.imagen})}" alt="">
						</a>
					</div>
					<div class="col-lg-6">
						<form th:action="@{/cart}" method="POST"> 
						<input type="hidden" th:value="${producto.id}" name="id">
							<h4 class="card-title titlec" th:text="${producto.nombre}"></h4>

							<ul class="list-group">
								<li class="list-group-item"><p th:text=" 'Precio: ' + ${producto.precio}"></p></li>
								<li class="list-group-item">
									<p th:text="'Descripcion: ' +  ${producto.descripcion}"></p>
								</li>
								<li class="list-group-item"><p>
										Cantidad: <input type="number" id="cantidad" name="cantidad"
											autocomplete="off" min="1" th:attr="max=${producto.cantidad}" value="1">
								</p></li>
							</ul>


							<button type="submit" class="bt">Carrito</button>

						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
	<div th:include="usuario/template.html::politica"></div>

    <!-- Footer -->
    <div th:include="usuario/template.html::footer"></div>

    <div th:include="usuario/template.html::script"></div>

</body>

</html>