<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head th:include="usuario/template.html::header"></head>

<body> 

    <div th:include="usuario/template.html::nav_t"></div>



    
        <!-- Navbar-->
        <nav th:include="usuario/template.html::nav"></nav>

        <!-- Sobre -->
        <div class="container" id="about">
            <h1>Sobre Nosotros</h1>
            <div class="row" style="margin-top: 50px;">
               <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="/images/sobre-nosotros.webp" alt="">
                </div>
               </div>
               <div class="col-md-6 py-3 py-md-0">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum repellat excepturi aspernatur sint saepe fuga placeat odit 
                    consequatur! Adipisci recusandae maiores blanditiis consequatur deleniti sit fuga excepturi assumenda eius cum? Lorem ipsum, 
                    dolor sit amet consectetur adipisicing elit. Doloremque, minima, nemo sit enim animi, et voluptate consequuntur voluptatem 
                    quidem in maiores laborum architecto illo itaque sapiente eos ab dolorem saepe.
                    <br><br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores nihil dolore fugit. Eius incidunt corporis asperiores ducimus 
                    magnam, placeat exercitationem provident optio laborum eveniet cupiditate blanditiis. Harum neque et distinctio.
                </p>
                </div>
            </div>
        </div>


        <div th:include="usuario/template.html::politica"></div>

    <!-- Footer -->
    <div th:include="usuario/template.html::footer"></div>

    <div th:include="usuario/template.html::script"></div>

</body>

</html>