<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head th:include="usuario/template.html::header"></head>

<body> 

    <div th:include="usuario/template.html::nav_t"></div>



    
        <!-- Navbar-->
        <nav th:include="usuario/template.html::nav"></nav>

        <!-- Sobre -->
        <div class="container" id="about">
            <h1>Sobre Nosotros</h1>
            <div class="row" style="margin-top: 50px;">
               <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="/images/imagenInicio.jpg" alt="">
                </div>
               </div>
               <div class="col-md-6 py-3 py-md-0">
                <p>
                    En Catalia Boutique, somos un equipo de apasionados y amantes de la moda que se dedican a proporcionar 
                    productos seguros y encantadores para niñas pequeñas, en nuestra tienda nació de la idea 
                    de que las pequeñas deben poder expresarse y sentirse hermosas desde el principio.
                    <br><br>
                    Nuestra misión es inspirar la confianza y la creatividad en las niñas a través de accesorios de calidad, 
                    diseñados pensando en su comodidad y seguridad. Estamos emocionados de ser parte de los momentos especiales e
                    n la vida de las pequeñas.
                </p>
                </div>
            </div>
        </div>


        <div th:include="usuario/template.html::politica"></div>

    <!-- Footer -->
    <div th:include="usuario/template.html::footer"></div>

    <div th:include="usuario/template.html::script"></div>

</body>

</html>